@import url('https://fonts.googleapis.com/css?family=Roboto: 100, 200, 300, 400, 500, 600, 700, 800, 900');

*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}