:root
{
    /* Colors */
    --primary-bg-color: #008080;
    --primary-text-color: #fff;
    --active-text-color: #008080;
    --active-bg-color: #fff;
    --outline-focus-color: 2px solid #d1d1d1;
    --form-bg-color: #f4f7f8;

    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

/*body
{
    overflow: hidden;
}*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button
{
    display: none;
}

label
{
    display: block;
}

input
{
    padding: 10px 20px;
}

.btn
{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: calc(var(--base-border-radius) / 2);
    font-size: 20px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    box-shadow: var(--box-shadow);
    transition: opacity .15s ease-in;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:hover
{
    opacity: .8;
    transition: opacity .15s ease-in;
}

.btn:active
{
    opacity: 1;
    box-shadow: none;
    transform: scale(.98);
}

a
{
    text-decoration: none;
}