<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/utilities.css}">
    <script src="https://kit.fontawesome.com/e05f21b32e.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}" defer></script>
    <title>Checkout Bill</title>
</head>
<body>
<nav class="main-nav" id="main-nav">
    <h1 class="logo">Bilabonnement</h1>
</nav>

<!--
   This form contains a preview of the data that was being passed into the form
   on the index.html page for the renter and customer to agree on the data before
   confirming it.

   The value is being passed on via the Thymeleaf th:value attributes in the <input /> elements.
-->
<form action="/confirmedorder" method="POST">
    <div class="container bill-container">
        <div class="container bill-container">
            <header class="header">
                <div class="checkmark-container">
                    <i class="fa-solid fa-check"></i>
                </div>
                <h3>Confirm Order</h3>
            </header>


            <div class="container confirmation-container">
                <div>
                    <div>

                        <div>
                            <h2>Start Date</h2>
                            <input th:value="${renting.getStartDate()}" name="startDate"
                                   class="output start-date-output" id="start-date-output" disabled>Start Date</input>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h2>End Date</h2>
                            <input th:value="${renting.getEndDate()}" name="endDate" class="output end-date-output"
                                   id="end-date-output" disabled>End Date</input>
                        </div>

                        <div>
                            <h2>Car Number</h2>
                            <input th:value="${renting.getCarNumber()}" name="carNumber"
                                   class="output car-number-output" id="car-number-output" disabled>Car Number</input>
                        </div>

                        <div>
                            <h2>Chassis Number</h2>
                            <input th:value="${renting.getChassisNumber()}" name="chassisNumber"
                                   class="output chassis-number-output" id="chassis-number-output" disabled>Chassis
                            Number</input>
                        </div>

                        <div>
                            <h2>Pick Up Location:</h2>
                            <input th:value="${renting.getPickupLocation()}" name="pickUpLocation">
                        </div>
                    </div>
                </div>


                <a href="confirmedorder.html" class="btn confirm-order-btn">Confirm Order</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>